@charset "ISO-8859-1";

:root {
	--background-color: white;
	--text-color: black;
	--border-color: black;
}

[data-theme="dark"] {
	--background-color: black;
	--text-color: white;
	--border-color: white;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

div {
	/* All divs */
	background-color: green;
	position: relative;
	top: 10px;
	border: 2px solid var(--border-color);
	width: 85%;
	margin: 1%;
	padding: 2%;
}

div#header, div#samInfo {
	/* All divs with id header*/
	background-color: blue;
}

img#headshot {
	float: left;
	right: 20px;
}

h1#name {
	position: relative;
	left: 20px;
	/* Border around text */
	text-shadow: .5px .5px #ffffff;
}

h3#info {
	position: relative;
	top: 10px;
}

div.menu {
	/* All divs with class menu*/
	background-color: red;
}

div#homepage {
	/* All divs with id homepage */
	min-height: 150px;
	height: 500px;
}